@model PHSach.Models.Bill_Export

@{
    ViewBag.Title = "Create";
}

<h2>Tạo phiếu xuất sách</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />

        <div class="form-group col-sm-10">
            <div class="col-sm-6">
                <label for="disabledInput">Tên Đại Lý:</label>
                @Html.DropDownList("Agency_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Agency_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-10">
            <div class="col-md-6">
                <label for="disabledInput">Người nhận hàng:</label>
                @Html.EditorFor(model => model.Recipients, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Recipients, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Nhập chi tiết" class="btn btn-default" />
            </div>
        </div>
    </div>
}
